@model HomeViewModel 
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form asp-action="Search">
        <div class="form-group">
            <label>zipcode:</label>
            <input asp-for="SearchInput" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Search" class="btn btn-primary"/>
        </div>
    </form>
    @if(Model.SearchResults.Any())
            {
                <table>
                    <tr>
                        <th>street</th>
                    </tr>
                    @foreach (var item in Model.SearchResults)
                    {
                        <tr>
                            <td>@item.Street</td>
                        </tr>
                    }
                </table>
            }
</div>
